
.cards-container {
    background-color: rgb(248, 248, 241);
    display: inline-block;
    position: relative;
    width: 85%;
    /* margin-bottom: 30px; */
    border-radius: 6px; 
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 30px;  
}
.cards-container:hover {
    background-color: rgb(239, 229, 241);
}

.cards-title {
    font-size: 13px;
    font-weight: 700;

}

.cards-desc {
    font-size: 13px;

}

.btn-icon {
    border-radius: 30px;
    width: 120px;
    padding: 12px 8px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(199, 201, 203);
}