.container {
    color: #94bfa9;
    height: 225px;
    background-color: #d8d5d2;
    
}
.app-title {
    padding: 20px;
    font-family: "prata";
}
:hover{
    color: rgb(232, 194, 207);
}

.link-cards{
    color: black;
    padding: 16px;
    font-size: 15px;
    border-left: 1px solid black;
    
}
.link-about{
    color: black;
    padding: 16px;  
    font-size: 15px;
}
.link-contact{
    color: black;
    padding: 16px; 
    border-left: 1px solid black; 
    font-size: 15px;
}



