.container {
    height: 225px;
    background-color: #f1ece8;
    
}
.app-title {
    padding: 35px;
    font-size: 18px;
    font-family: "prata";
    color: rgb(12, 4, 88);
}
.main-title{
    font-size: 3.5rem;
    padding: 7px;
}
.link-cards{
    color: black;
    padding: 25px;
    font-size: 1rem;
    font-family: "prata";
    text-decoration: underline; 
}
.link-about{
    color: black;
    padding: 20px;  
    font-size: 1rem;
    font-family: "prata"; 
    text-decoration: underline; 
}
.link-contact{
    color: black;
    padding: 20px; 
    /* border-left: 1px solid black;  */
    font-size: 1rem;
    font-family: "prata";
    text-decoration: underline; 
}



