* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    text-align: center;
  }
  h1{
    font-size: 5rem;
    font-weight: bolder;
  }
  p {
    font-size: 3rem;
    margin: 1rem;
  }
  section {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about{
    background-color: rgb(53, 9, 232);
  }
  .cards {
    background-color: goldenrod;
  }
  .footer {
    background-color: whitesmoke;
    color: green;
    height: 250px;
  }